<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="RDF parsers" verbose="1">
    <test name="NTriples Semargl Turtle Test">
        <classes>
            <class name="org.semarglproject.rdf.RdfXmlParserTest" />
            <class name="org.semarglproject.rdf.NTriplesParserTest" />
        </classes>
    </test>
</suite>
