<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Clerezza Integration Tests" verbose="1" parallel="tests" thread-count="2">
    <test name="RDF/XML and NTriples">
        <classes>
            <class name="org.semarglproject.clerezza.ClerezzaRdfXmlParserTest" />
            <class name="org.semarglproject.clerezza.ClerezzaNTriplesParserTest" />
        </classes>
    </test>
    <test name="RDFa">
        <classes>
            <class name="org.semarglproject.clerezza.ClerezzaRdfaParserTest" />
        </classes>
    </test>
</suite>
