<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sesame Integration Tests" verbose="1" parallel="tests" thread-count="2">
    <test name="RDF/XML and NTriples">
        <classes>
            <class name="org.semarglproject.sesame.SesameRdfXmlParserTest" />
            <class name="org.semarglproject.sesame.SesameNTriplesParserTest" />
        </classes>
    </test>
    <test name="RDFa">
        <classes>
            <class name="org.semarglproject.sesame.SesameRdfaParserTest" />
            <class name="org.semarglproject.sesame.SesameRdfaReaderTest" />
        </classes>
    </test>
</suite>
