<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Jena Integration Tests" verbose="1"  parallel="tests" thread-count="2">
    <test name="RDF/XML and NTriples">
        <classes>
            <class name="org.semarglproject.jena.JenaRdfXmlParserTest" />
            <class name="org.semarglproject.jena.JenaNTriplesParserTest" />
        </classes>
    </test>
    <test name="RDFa">
        <classes>
            <class name="org.semarglproject.jena.JenaRdfaParserTest" />
            <class name="org.semarglproject.jena.JenaRdfaReaderTest" />
        </classes>
    </test>
</suite>
